#opcoes {
	margin-top:30px;
	text-align:left;
	font-size:17px;
}

#divMenu h2{
	color:grey; 
	font-weight:bold;
	
}

.cabecalho {
	background-color:#b30000;
	color:white;
}

#corpo {
	margin: 15px;
	background-color: #f2f2f2;
}

.btnAlterar {
	width: 20px;
}

.btnExcluir {
	width: 20px;
}

.colunaMenu {
	margin-top:30px;
}

.fonteMenu {
	color:grey; 
	font-weight:bold;
	font-size:26px;
}